*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    background-color: #9AD3D6;
}
.game{
    width: 100%;
    margin-top: calc((100vh - 400px) / 2);
    display: flex;
    position: relative;
    justify-content: center;
    font-family: sans-serif;
    color: #1D1C1B;
    text-transform: uppercase;
}
.game button{
    width: 120px;
    background-color: #1D1C1B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.game button:focus{
    outline: none;
}

.control-panel{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    color: #0B2027;
    /* overflow: hidden; */
}
.nextTetromino{
    display: flex;
    width: 120px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.block{
    width: 30px;
    height: 30px;
    background-color: #1D1C1B;
    border: 1px solid black;
}
.blur{
    filter: blur(8px);
}